<nav>
    <a href="/" <% if (navpick == "home") { %>class="navpicked"<% } %>><h2>Home</h2></a>
    <a href="/entry" <% if (navpick == "entry") { %>class="navpicked"<% } %>><h2>Characters</h2></a>
</nav>