<%- include('./partials/head') %>
    <div class="mainBox">
        <a href="/entry">Back to character list</a>
        <h1>Create Entry:</h1>
        <%- include('./partials/entryform', { action: "create", id: false, predata: {} }) %>
    </div>
<%- include('./partials/foot') %>