<%- include('./partials/head') %>
    <div class="mainBox">
        <h1>Entry deleted!</h1>
        <a href="/entry"><h3>Back to character list</h3></a>
        <a href="/"><h3>Back to homepage</h3></a>
    </div>
<%- include('./partials/foot') %>