<%- include('./partials/head') %>
    <div class="mainBox">
        <div class="entrySeg flexcol">
            <section class="entryButtons">
                <form action="/entry/create/template" method="post" class="noForm">
                    <button class="noButton"><h2 class="entryButton">Create template</h2></button>
                </form>
                <a href="/entry/create"><h2 class="entryButton">Create from Scratch</h2></a>
            </section>
        </div>
    </div>
<%- include('./partials/foot') %>